.main {
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.header {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.header .logo {
    cursor: pointer;
    padding: 0 5rem 0 1rem;
    font-size: 2rem;
}

.searchBar {
    height: 2.5em;
    flex-grow: 0.5;
    font-size: 1.2rem;
}